 <div class="container" ng-init="showGift()">
  <div>

    <div class="col-sm-4">
    <h1>{{gift.title}}</h1>
    <h2 ng-show="gifts">{{currentGiftNumber}}/{{gifts.length}}</h2>
    <img class="col-sm-12" src="{{gift.img_src}}" height="300" /><br/>
    
    
    AmazonId:<input ng-model="gift.amazonid" /><br/>
    Source Url:<input ng-model="gift.source_url" /><br/>
      Price:<input ng-model="gift.price" /><br/>
    </div>
    <div class="col-sm-4">
    <h3>Description</h3>
    {{gift.description}}<br/>
      <div class="panel-heading"></div>
      <form class="checkbox" action="">
      <input type="checkbox" ng-model="gift.nsfw">Adult themed gift
        <br>
        <input type="checkbox" ng-model="gift.booze">Alcohol related gift
        <br>
        <input type="checkbox" ng-model="gift.geek">Geeky gift
        <br>
        <input type="checkbox" ng-model="gift.joke">Joke gift
      </form>
    </div>
    <div class="col-sm-4">
      <div class="">
      </div>

      <div> Recipient:</div>
      <div>
        <div class="row">
          <div>
            <div class="col-sm-12">
              <button class="btn" ng-model="gift.gender" uib-btn-radio="'M'" uncheckable>Male</button>
              <button class="btn" ng-model="gift.gender" uib-btn-radio="'F'" uncheckable>Female</button>
              <button class="btn" ng-model="gift.gender" uib-btn-radio="" uncheckable>Either</button>
            </div>
            Meaningfulness:
            <br/>
            <button class="btn" ng-model="gift.relationship" uib-btn-radio="" uncheckable>
              Not really meaningful
            </button>
            <button class="btn" ng-model="gift.relationship" uib-btn-radio="1" uncheckable>
              Meaningful
            </button>
            <button class="btn" ng-model="gift.relationship" uib-btn-radio="2" uncheckable>
              Romantic
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-12" style="text-align: center">
    <a href="#/home" class="btn btn-primary" role="home">Home</a>
    <a href="#/gift/{{next_id}}" ng-show="next_id" class="btn btn-danger" role="home">Next</a>
    <a ng-click="remove(gift)" class="btn btn-primary" role="home">Delete</a>
  </div>

</div>
</div>
</div>